*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body {
    padding: 2em;
    
}

.site {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    gap: 2em;
}

.site > aside {
    flex: 1 1 auto;
    display: block;
}

.socials-icons li {
    display: flex;
    list-style: none outside;
}

.socials-icons li a {
display: block;
background: #eee;
font-size: 2em;
width: 5rem;
aspect-ratio: 1/1;
text-align: center;
line-height: 5rem;
border-radius: 50%;
margin: 0 0.5rem;
color: #000;
}

.socials-icons li a:hover {
    background: darkorange;
    color: #fff;
}