
.flex-container {
    width: 400px;
    padding: 0.5em;
    border: 2px solid blue;
    display: flex;
}

.flex-container.flex-direction-row {
    flex-direction: row;
}

.flex-container.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-container.flex-direction-column {
    flex-direction: column;
}

.flex-container.flex-direction-column-reverse {
    flex-direction: column-reverse;
}

.flex-item {
    background: #eee;
    border: 2px solid #000;;
    padding: 1em;
}
